
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ul,li,ol {
   list-style: none;
   margin: 0;
   padding: 0;
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p{
   margin: 0;
   padding: 0;
	
}
a {
	text-decoration: none;
	margin: 0;
   padding: 0;
   display: inline-block;
}
img{
	display: block;
   max-width: 100%;
	height: auto;
   display: block;
	margin: 0;
	padding: 0;
}
/* ---------------- */
body  {
	margin: 0 auto

}
.container {
	max-width: 1366px;
	height: 770px;
	background: url(../img/Фон1.png)  no-repeat;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;
	
	
}
.header{
	background: rgba(0, 0, 0,0.4);
	display: flex;
	justify-content: space-between;
	padding: 18px 79px;
}
.logo-title {
	font-style: 22px;
	line-height: 22px;	
}
.header-navigation {
	display:flex;

}
.header-navigation-list {
	display: flex;
}

.header-navigation-item {
	margin-right: 25px;
	width: 22px;
}
.link {
	fill: #fff;
	color: white;
	transition: 250ms linear;
}

.link :hover {
	fill: green;
	color: green;
}

.auth-link {
	transition: 250ms;
}
.auth-link:hover {
	color: green;
	
}

.auth-text {
	display: flex;
	align-items: center;
	padding-left: 25px;
	position: relative;
	color: white;
	transition: 1s;
}

.auth-text::after {
	content: '';
	height: 19px;
	width: 1px;
	position: absolute;
	top: 2px;
	left: 0px;
	background: #fff;
}

.auth-text a{
	margin: 0 5px;
	color: white;
}

.conten {
	padding-top: 54px;
}

.form-wrap {
	width: 444px;
	box-sizing: border-box;
	background: #fff;
	margin: 0 auto;
	padding: 31px 60px 38px;
	position: relative;
}

.green-box{
	height: 19px;
	width: 18px;
	background: #3CB878;
	position: absolute;
	top: 29px;
	left: 0;
}

.form-link{
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.form-link a:not(:last-child) {
	font-size: 20px;
	line-height: 20px;
	color: #434343;
}

.form-link a:last-child {
	color: #3CB878;
}

.form-link a:last-child:hover{
	text-decoration: underline;
}

.form-bt-list {
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
}

.form-bt-link  {
	width: 160px;
	height: 48px;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px 0 15px;
	position: relative;
}

.form-bt-link::after {
	content: '';
	position: absolute;
	width: 1px;
	height: 28px;
	background:	rgba(0, 0, 0, 0.54);
	opacity: 10%;
	left: 49px;
}

.fb {
	background: #305DB8;
	color: white;
	transition: 250ms;
}

.fb:hover {
	background: #022263;
}

.g {
	background:	#DF4A32;
	color: white;
	padding: 0 26px 0 10px;
	transition: 250ms;
}

.g:hover {
	background: #AB1F09;
}

.text {
	color: #848484;
	text-align: center;
	position: relative;
	margin-bottom: 12px;
}

.text::before {
	content: '';
	position: absolute;
	width: 151px;
	height: 1px;
	background: #F2F2F2;
	left: 0px;
	top: 8px;
}

.text::after {
	content: '';
	position: absolute;
	width: 151px;
	height: 1px;
	background: #F2F2F2;
	top: 8px;
	left: 172px;
}

.form-input {
	border: none;
	outline: none;
	width: 100%;
	margin-bottom: 15px;
	padding: 15px;
	border-radius: 5px;
	border: 1px solid #F2F2F2;
	color: #434343;
} 

.form-label-check {
	width: 225px;
	display: inline;
	position: relative;
}

.form-input-check {
	position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 15px;
   clip: rect(0 0 0 0);
   overflow: hidden;
}
.form-label-check::before{
	position: absolute;
	display:inline-block;
	content: '';
	width: 20px;
	height: 20px;
	left: -25px;
	top: -2px;
	border: 1px solid #adb5bd;

}
.form-label-check {
	margin-left: 25px;
	margin-right: 0;

}
.form-input-check:checked ~ .form-label-check::before {
	background: url('../img/check11.svg')no-repeat;
	height: 20px;
	width: 20px;
   background-size: contain;
   background-origin: border-box;
}

.form-input::placeholder {
	color: #BEBEBE;
}
.form-input:focus{
	box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.21);
}

.form-label-check {
	display: flex;
	position: relative;
}


.form-input-check-link {
	color: rgba(60, 184, 120, 0.8);
}

.form-input-check-link:hover{
	color: #01813F;
	text-decoration: underline;
}

.form-input-check-text {
	margin-left: 15px;
}

.btn {
	background: rgba(60, 184, 120, 0.8);
	margin-top: 20px;
	cursor: pointer;
	color: white;
	transition:  250ms linear;
}

.btn:hover,
.btn:focus {
	background: #01813F;
}
