html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}
body {
	width: 1280px;
	font-family: 'Montserrat', sans-serif;
	margin:  0 auto;
}

.content {
	width: 1280px;
	 font-family: 'Montserrat', sans-serif;
	 
}

.list {
	
	display: flex;
	justify-content: center;
	
	

}
.item {
	padding: 25px;


}
.item:not(:last-child) {
	margin-right: 70px;
}
.link {
	font-weight: bold;
	font-size: 18px;
	line-height: 1;
	color: #FF0000;
	text-transform: uppercase;
	
}
.article {
	padding: 48px 67px 42px;
	
}
.title {
	font-weight: bold;
	font-size: 22px;
	line-height: 1.2;
	text-transform: uppercase;
	letter-spacing: 3.3px;
	text-align: center;
	margin-bottom: 38px;
	
	
	
}
.text {
	font-style: 400;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	
	margin-bottom: 28px;
	
}
.desc-text {
	margin-bottom: 66px;
	
}
.batton {
	display: flex;
	justify-content: center;
	
}
.btn {
	padding: 18px 42px;
	background: #FF0000;
	border-radius: 4px;
	font-size: 12px;
	color: #FFFFFF;
	letter-spacing: 1.8px;
	text-transform: uppercase;
	

}
.footer-text {
	color: #373737;
	font-size: 16px;
	line-height: 1.25;
	font-weight: bold;
	letter-spacing: 2.4px;
	text-align: end;
	padding: 40px  105px 29px 0;
	
}