body{
   width: 1380px;
   margin-left: auto;
   margin-right: auto;
	/*margin: 0 auto;*/
   padding-left: 98px;
   padding-right: 98px;
   color: #373737;
	background: rgba(0, 0, 0, 0.0001);
	font-family: 'Roboto', sans-serif;
}
ul,li {
   list-style: none;
   margin: 0;
   padding: 0;
}

h1,h2,h3,h4,h5,h6,p{
   margin: 0;
   padding: 0;
}
a {
	text-decoration: none;
	margin: 0;
   padding: 0;
   display: block;
   text-decoration: none;
	
}
img{
   display: block;
   max-width: 100%;
   height: auto;
}
/*-----------*/
.header {
	padding-bottom: 38px;
}
.logo {
	display: inline-block;
	font-size: 80px;
	line-height: 94px;
	color: darkcyan;
	padding-bottom: 38px;
}
.logo-title {
	color: #000;
}

.navigation ul{
	display: flex;
	justify-content: center;
	background: #35444F;	
}

.navigation li:hover,
.navigation li:focus {
	background: #222F3A;
	
}
.navigation li:not(:nth-child(4)) {
	
	border-right: 1px solid  #fff;
	border-left: 1px solid #fff;
}

.navigation a {
	font-size: 24px;
	padding: 26px 40px 19px;
	color: white;
	text-align: center;
}

.content {
	display: flex;
}

.left-menu {
	
	
}
.left-menu ul{
	width: 344px;
	height: 401px;
	border: 1px solid #000000;
}

.left-menu li {
	transition: 250ms cubic-bezier(.41,.53,.8,.69);
	
	
}

.left-menu li:hover {
	font-weight: bold;
	padding-left: 20px;
	color: #000;
	background: #DBDBDB;
}

.left-menu a {
	font-size: 27px;
	
	color: #485863;
	padding: 22px 0 27px 44px;
}

.wrapper {
	margin-left: 52px;
}

.wraper-cont {
	border: 1px solid #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 529px;
	margin-bottom: 37px;
	overflow: hidden;
}
.wrapper-img {
	width: 320px;
	height: 381px;
	transition: 1s;
   
}

.wrapper-img:hover{
	display: block;
	transform: scale(1.2);
	transition: 1s; /* Время эффекта */
}


.wrapper p {
	font-size: 18px;
	line-height: 24px;
	color: #2C2C2C;
	margin-bottom: 34px;	
}
.wrapper p:last-child {
	margin-bottom: 54px;
}

.footer {
	background: rgba(99, 105, 110, 0.48);
	display: flex;
	margin-bottom: 30px;
	padding: 15px 25px 20px 25px;
}
.footer-nav {
	display: flex;
	align-items: center;
}
.footer ul {
	display: flex;
	justify-content: space-between;
}
.footer ul li {
	display: inline-flex;
}
.footer ul li:not(:last-child){
	margin-right: 30px;
}
.footer ul li a {
	font-size:26px;
	position: relative;
	color:#000 ;
}


.footer ul li a:hover::after {
	content:' ';
	display: block;
	width: 100%;
	height: 2px;
	background: #3181A6;
	position: absolute;
	bottom: -8px;
}

.footer ul li a:hover{
	color:#3181A6;
}

.foter-data- {
margin-left: auto;
}
.footer-data {
	font-size: 24px;
}
