
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ul,li,ol {
   list-style: none;
   margin: 0;
   padding: 0;
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p{
   margin: 0;
   padding: 0;
	
}
a {
	text-decoration: none;
	margin: 0;
   padding: 0;
   display: inline-block;
}
img{
	display: block;
   max-width: 100%;
	height: auto;
   display: block;
	margin: 0;
	padding: 0;
}
/* ---------------- */
body {
	max-width: 100%;
	height: 100%;
	background: url(../img/star-wars-backgrounds-14.jpg);
	overflow: hidden;

}
.content {

	position: relative;
	width: 100%;
	min-height: 375px;  
	top: 0;
	background-image: linear-gradient(0deg, transparent, black 100%);
	z-index: 1;
}
.star-wars {
	display: flex;
	justify-content: center;
	position: relative;
	height: 800px;
	color: #feda4a;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 500%;
	font-weight: 600;
	letter-spacing: 6px;
	line-height: 150%;
	perspective: 500px;
	text-align: center;
}

.text	{
	font-size: 90%;
	text-align: center;
	line-height: 200%;
}
.title {
	font-size: 200%;
	margin-bottom:100px;
	color: rgb(44, 44, 116);
	font-weight: 700;
	text-transform: uppercase;
}
.block-animation {
	position: relative;
	top:100%;
	transform-origin: 50% 100%;
	animation: test 30s linear;
}
@keyframes test {
	0% {
	top: 0;
	transform: rotateX(20deg)  translateZ(0);
	}
	100% { 
	top: -6000px;
	transform: rotateX(25deg) translateZ(-2500px);
	}
}
.audio {
	position: absolute;
	width: 250px;
	height: 50px;
	top: 730px;
	opacity: 0.2;

}