ul {
	list-style: none;
	padding-left: 0;
}

.centered-content {
	 /* margin-top: 350px; */
	height: 150vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tabs {
	display: flex;
}

.tabs-title__item {
	padding: 20px;
	background-color: #23201D;
	border: 1px solid red;
	color: #937341;
	cursor: pointer;
}

.tabs-title__item.active {
	background-color:#937341 ;
	color: #23201D;
}
.tabs-item {
	border: 1px solid red;
	padding: 10px;
	margin: 10px;
	background: #f2f2f2;
	display: none;
}
.tabs-item.active {
	display: block;
}


/* .wrapper {
	margin: 0 auto;
	width: 800px;
}

.tabs-nav {
	display: flex;
	justify-content: space-between;
}
.tabs-nav__item {
	border-bottom: 1px solid transparent;
	cursor: pointer;
	flex: 1;
	padding: 20px;
}

.tabs-nav__item.is-active {
	border-color: #55a32a;
}

.tab {
	background-color: #f2f2f2;
	display: none;
	padding: 20px;
}
.tab.is-active { display: block; } */
