.body {
	background-color: rgba(49, 36, 49, 0.133);
}
.password-form {
	display: flex;
	flex-direction: column;
}
.input-wrapper {
	position: relative;
	width: 200px;
}

.input-wrapper input {
	min-width: 120px;
	padding: 10px;
	margin-bottom: 35px;
}

.input-wrapper i {
	position: absolute;
	right: 25px;
	top: 30px;
	color: grey;
}

	.btn{
		width: 150px;
	}
	.input {
		background-color: #f2f2f2;
	
	}
.icon {
	fill: #7a79;
}
.fas {
	position: relative;
}
#error {
	color: rgb(245, 11, 11);
	
	font-size: 10px;
	position: absolute;
	top: 60px;
	left: 10px;
}