.image-to-show {
	width: 400px;
	height: 400px;
}

.images-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	justify-content: center;
}
img {
	height: 576px;
}
.images-wrapper img {
	display: none;
}

.images-wrapper img.active {
	display: block;
}
.btn {
	margin-top: 59px;
	text-transform: uppercase;
	height: 35px;
	width: 100px;
	background: rgb(37, 166, 184);
	color: white;
	border: none;
	cursor: pointer;
	
}
.btn-box {
	text-align: center;
	margin: 0 auto;
}