body{
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ul,li,ol {
   list-style: none;
   margin: 0;
   padding: 0;
}

h1,h2,h3,h4,h5,h6,p{
   margin: 0;
   padding: 0;
	
}
a {
	text-decoration: none;
	margin: 0;
   padding: 0;
   display: block;
	display: block;

   
	
}
img{
	display: block;
   max-width: 100%;
	height: auto;
   display: block;
	margin: 0;
	padding: 0;
}
/*svg path {
	stroke:inherit;
	stroke-width:inherit;
	fill:inherit;
	}*/
/*----------*/
body {
	max-width: 1350px;
	height: 768px;
	background: url(../img/background\ 1.png) 0 0/ cover no-repeat;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}


.conteiner {
	width: 1030px;
	margin: 0 auto;
	
}

.box {
	padding: 46px 0 17px;
	display: flex;
	justify-content: space-between;
}
.logo {	
	height: 56px;
}
.link {
	color: white;
}
.logo-box {
	display: flex;
	
}
.logo:hover .logo-img {
	content:url(../img/logo2.png);
}
				
.logo:hover p{
	color: #F26522;
}

.header-img {
	margin-left:10px ;
}

.logo-text {
	font-size: 29px;
	font-weight: 700;
}
.logo-text-lg {
	font-size: 18px;
	font-weight: 700;
}
.contcts {
	text-align: right;
}
.contacts-item{
	margin-bottom: 19px;
	font-size: 18px;
}	
.contacts-item :hover{
	color: #F26522;
}

.cards-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.cards-item {
	width: 304px;
	margin-bottom: 37px;
}

.cards-name {
	width: 304px;
	text-align: center;
	color: white;
}
.cards-text {
	font-size: 18px;
	line-height: 1;
	font-weight: 400;
	margin-top: 20px;
	
}
.price {
	position: relative;
	overflow: hidden;
	
}
.hidden {
	position: absolute;
	width: 100%;
	height: 56px;
	bottom: -1px;
	left: 1px;
	background: #F26522;
	transform: translateY(100%);
	color: white; 
	transition:transform 500ms linear;
	display: inline-flex;
	justify-content: space-between;
} 

.cards-link:hover .hidden {
	transform: translate(0);
}

.cards-item:hover h2{
	color: #F26522;
}

.hidden-title :first-child {
	font-size: 10px;
	margin: 7px 0 8px 16px;
}

.hidden-title :last-child {
	font-size: 20px;
	margin:0 0 12px 16px;
}

.hiden-text {
	position: relative;
	display: inline-flex;
	margin-top: 29px;	
}
.hiden-text-title {
margin-right: 60px;
font-size: 14px;
}

/* .arow{ 
	background: url(../img/Vector1.svg) no-repeat;
	height: 10px;
	width: 10px;
	background-size: 10px 10px ;
	display: block;
	margin-left: auto;
	margin-top: 5px;
	margin-right: 16px;
}*/

.footer p{
	text-align: center;
	font-size: 12px;
	font-weight: 400;
	margin-top: 15px;
}
.hiden-text::before {
	content: '';
	position: absolute;
	border-right: 1px solid white;
	border-top: 1px solid white;
	width: 7px;
	height: 7px;
	top: 5px;
	left: 105px;
	transform: rotate(45deg);

}